.calendar {
  --text-color-primary: #181d27;
  --text-color-secondary: #414651;

  --color-border: #e6e6e8;
  --color-event-bg: #ecfdf5; /* emerald-50 */
  --color-event-border: #a7f3d0; /* emerald-200 */
  --color-event-hover: #d1fae5; /* emerald-100 */
  --color-event: #059669; /* emerald-600 */
  --color-label: #717880; /* gray-500 */
  --color-off-range: #fbfbfb;

  font-size: 13px;
  min-height: 80vh;
}

.dark .calendar {
  --color-border: #2a2a2a;
  --color-event-bg: #022c22; /* emerald-950 */
  --color-event-border: #022c22; /* emerald-950 */
  --color-event-hover: #064e3b; /* emerald-900 */
  --color-event: #10b981; /* emerald-500 */
  --color-label: #717880; /* gray-500 */
  --color-off-range: #090909;
}

/* Table */
[role="table"] {
  border-radius: 0px 0px 10px 10px;
}

/* Header */
.rbc-header,
.rbc-header .rbc-button-link {
  padding: 8px !important;
  text-transform: lowercase;
  font-weight: 500;
  color: var(--color-label) !important;
  font-size: 12px;
}

.rbc-time-header-content .rbc-header {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle !important;
}

/* Day slot off range */
.rbc-off-range-bg {
  background: var(--color-off-range) !important;
}

.rbc-off-range-bg:last-child {
  border-bottom-right-radius: 10px !important;
}

/* Borders color */
[role="rowgroup"],
[role="table"],
.rbc-header,
.rbc-day-bg,
.rbc-events-container,
.rbc-time-view,
.rbc-time-content,
.rbc-time-slot,
.rbc-timeslot-group,
.rbc-label,
.rbc-time-header-content {
  border-color: var(--color-border) !important;
}

/* Do not show current time line */
.rbc-current-time-indicator {
  display: none !important;
}

/* Day slot */
.rbc-row-segment {
  padding: 2px 6px !important;
}

.rbc-show-more {
  background-color: transparent !important;
  color: var(--color-label) !important;
  font-weight: 600;
}

.rbc-button-link {
  color: var(--text-color-secondary);
  font-weight: 600;
  font-size: 12px;
}

.rbc-date-cell {
  text-align: left !important;
  padding: 6px;
  text-align: left;
}

.rbc-date-cell > .rbc-button-link {
  border-radius: 100%;
  height: 24px;
  justify-content: center;
  padding: 2px;
  vertical-align: middle;
  width: 24px;
}

/* Today day slot */
.rbc-today {
  background-color: transparent !important;
}

.rbc-date-cell.rbc-now > .rbc-button-link {
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--primary);
  border-radius: 100%;
  padding: 2px;
  color: white !important;
  width: 24px;
  height: 24px;
}

/* Events */
.rbc-event {
  background-color: var(--color-event-bg) !important;
  border-radius: 4px;
  border: 1px solid var(--color-event-border) !important;
  color: var(--color-event) !important;
  font-size: 12px;
  font-weight: 600;
}

.rbc-event:hover {
  background-color: var(--color-event-hover) !important;
  border-color: var(--color-event-hover) !important;
  transition: all 0.2s ease-out;
}

/* Day view */
.rbc-slot-lunch {
  background-color: var(--color-off-range);
}

.rbc-label {
  color: var(--color-label) !important;
  font-size: 12px;
  font-weight: 500;
}
