.calendar {
  --text-color-primary: #181d27;
  --text-color-secondary: #414651;
  --color-gray-500: #717680;

  font-size: 13px;
  min-height: 85vh;
}

/* Table */
[role="table"] {
  border-radius: 0px 0px 10px 10px;
}

/* Header */
.rbc-header {
  padding: 8px !important;
}

.rbc-header > span {
  text-transform: lowercase;
  font-weight: 500;
  color: var(--color-gray-500) !important;
  font-size: 12px;
}

/* Day slot off range */
.rbc-off-range-bg {
  background: #fbfbfb !important;
}

.rbc-off-range-bg:last-child {
  border-bottom-right-radius: 10px !important;
}

/* Borders color */
[role="rowgroup"],
[role="table"],
.rbc-header,
.rbc-day-bg {
  border-color: #e6e6e8 !important;
}

/* Day slot */
.rbc-row-segment {
  padding: 2px 6px !important;
}

.rbc-show-more {
  color: var(--color-gray-500) !important;
  font-weight: 600;
}

.rbc-button-link {
  color: var(--text-color-secondary);
  font-weight: 600;
  font-size: 12px;
}

.rbc-date-cell {
  text-align: left !important;
  padding: 6px;
  text-align: left;
}

.rbc-date-cell > .rbc-button-link {
  border-radius: 100%;
  height: 24px;
  justify-content: center;
  padding: 2px;
  vertical-align: middle;
  width: 24px;
}

/* Today day slot */
.rbc-today {
  background-color: white !important;
}

.rbc-date-cell.rbc-now > .rbc-button-link {
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--primary);
  border-radius: 100%;
  padding: 2px;
  color: white !important;
  width: 24px;
  height: 24px;
}

/* Events */
.rbc-event {
  background-color: #ecfdf5 !important;
  border-radius: 4px;
  border: 1px solid #a7f3d0 !important;
  color: #059669 !important;
  font-size: 12px;
  font-weight: 600;
}

.rbc-event:hover {
  background-color: #d1fae5 !important;
  transition: all 0.2s ease-out;
}
